<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Fabricante</title>
	<link rel="stylesheet" th:href="@{/style.css}">
  </head>
  <body>
    <nav th:replace="fragments/navmenu"></nav>
    <main>
	  <h6>Fabricantes</h6>
      <h3>Cadastro de fabricante</h3>

      <a th:href="@{/fabricante/fabricanteIndex}">Voltar</a><br /><br />

      <form
        th:action="@{/fabricante/save-fabricante}"
        th:object="${fabricante}"
        method="post"
      >
        <!-- Nome Fantasia -->
        <div>
          <label for="nomeFantasia">Nome Fantasia</label><br />
          <input
            type="text"
            id="nomeFantasia"
            name="nomeFantasia"
            th:field="*{nomeFantasia}"
            placeholder="Digite o Nome Fantasia"
          />
        </div>
		<br />
		
        <!-- Razão Social -->
        <div>
          <label for="razaoSocial">Razão Social</label><br />
          <input
            type="text"
            id="razaoSocial"
            name="razaoSocial"
            th:field="*{razaoSocial}"
            placeholder="Digite a Razão Social"
          />
        </div>
		<br />
		
        <!-- CNPJ -->
        <div>
          <label for="cnpj">CNPJ</label><br />
          <input
            type="text"
            id="cnpj"
            name="cnpj"
            th:field="*{cnpj}"
            placeholder="Digite o CNPJ"
          />
        </div>
		<br />
		
        <!-- Endereço -->
        <div>
          <label for="endereco">Endereço</label><br />
          <input
            type="text"
            id="endereco"
            name="endereco"
            th:field="*{endereco}"
            placeholder="Digite o Endereço"
          />
        </div>
		<br />
		
        <!-- Telefone -->
        <div>
          <label for="telefone">Telefone</label><br />
          <input
            type="text"
            id="telefone"
            name="telefone"
            th:field="*{telefone}"
            placeholder="Digite o Telefone"
          />
        </div>
		<br />
		
        <!-- Email -->
        <div>
          <label for="email">Email</label><br />
          <input
            type="email"
            id="email"
            name="email"
            th:field="*{email}"
            placeholder="Digite o Email"
          />
        </div>
		<br />
		
        <!-- Vendedor -->
        <div>
          <label for="vendedor">Vendedor</label><br />
          <input
            type="text"
            id="vendedor"
            name="vendedor"
            th:field="*{vendedor}"
            placeholder="Digite o Nome do Vendedor"
          />
        </div>
		<br />
		
        <!-- Botão de envio -->
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </main>
  </body>
</html>
